

/* DEFAULT */

body {
    background-color: rgb(140, 95, 183);
}

h1 {
    font-family: "Lilita One", serif;
    color:rgb(255, 255, 255)
}

p {
    font-family: "lora", serif;
}

a {
    font-family: "Lilita One";
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 30px;
    
}

/* IMAGE MODIEFIERS */

.logo {
    max-width: 100%;
    height: 75px;
    padding: 20px;
}


/* HEADER */
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    padding: 20px;

}